.root{
	-primaryColor : white;
	-secondaryColor : white;
	-detailColor : #ECF4FF;
	-fx-background-color: white;
	-fx-text-fill: #3D292A;
	-fx-font-weight: bold;
	-fx-base: white;
}

.secondaryColor{
	-fx-background-color: -secondaryColor;
}


.button{
	-fx-background-color: -primaryColor;
	-fx-background-radius: 5.0;
    -fx-border-color: -primaryColor;
	-fx-border-radius: 5.0;
    -fx-border-width: 2.0;
}

.button:pressed {
  -fx-background-color: #CFE9FF;
  -fx-border-color: #FFFFFF;
}

.button:hover {
	 -fx-border-color: #CFE9FF;
}

.button:disabled {
	-fx-background-color: -detailColor;
	-fx-border-color: -primaryColor;
	-fx-opacity: 0.5;
}

.text-field {
	-fx-background-radius: 6;
}

.text-field:disabled {
	-fx-opacity: 1.0;
	-fx-background-color: -detailColor;
}

.text-area {
	-fx-background-radius: 16;
}

.text-area:disabled,
.text-area *:disabled {
    -fx-opacity: 1;
    -fx-background-color: -secondaryColor;
}

.imageBorder{
    -fx-border-color: -detailColor;
	-fx-border-radius: 10.0;
    -fx-border-width: 6.0;
}

.table-view {
	-fx-background-color: rgba(0.0, 0.0, 0.0, 0.1);
	-fx-border-color: -detailColor;
	-fx-border-radius: 2.0;
    -fx-border-width: 6.0;
}

.table-view .column-header{
	-fx-background-color: -detailColor;
}

#modeText{
	-fx-font-weight: normal;
}